
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-spartan: "League Spartan", sans-serif;
}
html{
    overflow-x: hidden;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-weight: 500;
}

h2{
    font-size: 49px;
    line-height: 62px;
    color: #222;
    font-weight: 500;
}

h3{
    font-size: 46px;
    color: #222;
}

h4{
    font-size: 20px;

}

h6{
    font-weight: 700;
    font-size: 12px;

}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}


.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0px;
}

body{
    width: 100%;
}

 #hero{
    background-image: url("./img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
   
} 


#hero h1{
    color: #088178;
}

#btn{
    background-image: url(./img/button.png);
    background-position: center;
    background-size: cover;
    width:250px;
    background-color: transparent;
    height: auto;
}

h6{
    display: inline-block;
    padding: 5px 9px 6px 8px;
    border-radius: 4px;
    line-height: 2;
}

.fe-box{
    cursor: pointer;
}

.banner{
    background-image: url(./img/b2.jpg);
    background-size: cover;
    background-position: center;
    height:40vh;
    padding: 20px 20px 20px 20px;
}

.h22{
    color: white;
}

